# dotfiles gitignore

* 

!LICENSE
!README.md
!README_zh.md
!arch_install.md
!arch_install_zh.md

!.gitignore
!.bash_profile
!.bashrc
!.bash_alias
!.pkgs.list

!/img/
!/img/scs-full-2026-08-31-10-01-11.png

!#.gnupg/
!#.gnupg/gpg-agent.conf

!#.ssh/
!#.ssh/config

!.config/

!.config/#mimeapps.list
!.config/#user-dirs.dirs

!.config/mpd/
!.config/mpd/mpd.conf

!.config/ncmpcpp/
!.config/ncmpcpp/config
!.config/ncmpcpp/bindings

!.config/mako/
!.config/mako/config

!.config/wob/
!.config/wob/wob.ini

!.config/foot/
!.config/foot/foot.ini

!.config/i3status-rust/
!.config/i3status-rust/config.toml

!.config/newsboat/
!.config/newsboat/config

!.config/lf/
!.config/lf/lfrc
!.config/lf/previewer
!.config/lf/icons
!.config/lf/commands
!.config/lf/bindings

!.config/nvim/
!.config/nvim/init.lua
!.config/nvim/lua
!.config/nvim/lua/config
!.config/nvim/lua/config/autocmds.lua
!.config/nvim/lua/config/keymaps.lua
!.config/nvim/lua/config/options.lua
!.config/nvim/lua/plugins
!.config/nvim/lua/plugins/cmd.lua

!.config/sway/
!.config/sway/bar
!.config/sway/bindings
!.config/sway/bindings_mode
!.config/sway/bindings-xf86
!.config/sway/config
!.config/sway/exec
!.config/sway/input
!.config/sway/output
!.config/sway/variables
!.config/sway/window

!.config/pipewire/
!.config/pipewire/pipewire.conf.d
!.config/pipewire/pipewire.conf.d/10-clock-rate.conf

!.config/wireplumber/
!.config/wireplumber/wireplumber.conf.d/
!.config/wireplumber/wireplumber.conf.d/10-bluetooth-audio.conf

!/etc/
!/etc/keyd/
!/etc/keyd/default.conf
!/etc/systemd/
!/etc/systemd/logind.conf.d/
!/etc/systemd/logind.conf.d/logind_custom.conf

!/etc/tlp.d/
!/etc/tlp.d/tlp_custom.conf

!/boot/
!/boot/loader/
!/boot/loader/loader.conf
!/boot/loader/entries/
!/boot/loader/entries/arch.conf
